.top{
    background-color: #ff5a00;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icones{
    justify-content: space-evenly;
}

.icones img{
    margin-left: 30px;
}

